.ProfileImage {
  border-radius: 100%;
  margin-right: 100px;
  filter: drop-shadow(0px 0px 20px #3fcea5);
  animation: animate__fadeInDown 0.8s;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
  .ProfileImage {
    margin-right: 0;
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .ProfileImage {
    margin-right: 0;
    width: 70%;
  }
}
