* {
  cursor: crosshair;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #181313;
  color: #dbdada;
}

.con {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
