.NavBar {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #9381ff;
  height: 65px;
  align-items: center;
  ul {
    display: flex;
    list-style-type: none;
    column-gap: 3px;
    li {
      a {
        display: block;
        padding: 20px 2rem;
        transition-duration: 0.5s;
        color: #F8F7FF;
        font-weight: bold;
        border-radius: 10px;
      }
      a:hover {
        // scale: 1.1;
        color: #FFD8BE;
        background-color: #00000065;
        border-radius: 50px;
      }
    }
  }
}
